body {  
	margin: 0; 
	padding: 0; 
	background-color: #4a607d; 
}
div.map{
	
	margin: auto;
}
div.cell{
	width: 20px;
	height: 20px;
	margin:0px 1px 1px 0px;
	text-align: center;
	color: #ffffff;
	display: inline-block;
	background-color: #111111;
	float: left;
}
div#clearCell{
	background-color: #ffffff;
	color: #111111;
}
div#mineCell{
	background-color: red;
	color: #111111;
}
div.cell:hover{
	background-color: #e9e9e9;
	cursor: pointer;
}
h1{
	width: 80px;
	margin:20px auto;
}
form{
	width: 174px;	
	margin: 20px auto;
	display: block;
}